<%- include("./partials/header") %>


<div class="container mt-5">
    <a href="/logout" class="btn btn-danger">Logout</a>
    <style>
        h2 { color: #FFD500; }
      </style>
    <h2>Welcomes staff member: <%= user.email %> </h2>
    <h2>Notes: </h2>
    <h2>______________________________________________________________________________ </h2>
    <h2>Note: Make sure they add the Mystic bot to there guild: https://dash.mysticbot.xyz/bots/838334745825116191 
    </h2>
    <h2>______________________________________________________________________________ </h2>
    <h2>Make sure they don't get into any part of 🎯-rules-for-bots-🎯 If they do decline them! Mystic decline `bot id` reason!
    <h2>______________________________________________________________________________ </h2>


    <h2>Total bot size: 23 </h2>
    <h2>Queue size: 0 </h2>

     <h2>______________________________________________________________________________ </h2>

     <h2>Accept: </h2>


     <h2>______________________________________________________________________________ </h2>
     <h2>Decline: </h2>




     <h2>______________________________________________________________________________ </h2>
</div>

<%- include("./partials/footer") %>