<%- include("./partials/header") %>

<div class="container mt-5">
    <style>
        h1 { color: #FF0000; }
      </style>
    <h1>Welcome to login and Register into System!</h1>
    <h1>Staff login page! If you are seeing this I hope your staff (;</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>

    
    
</div>
<iframe src="https://discord.com/widget?id=837916992639729665&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
